*{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

body{
    width: auto ;
    overflow-x: hidden;
}

.container{
    color: white;
    background-color: black;
    height: 270vw;
}

.header1 {
    position: fixed;
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    backdrop-filter: blur(20px);
    height: 35px;
    z-index: 10;
}


.head-but {
    background: none;
    border: 0cap;
    color: aliceblue;
    font-size: 2.5vh;
}

.login-but {
    border-radius: 1.5vh;
    border-width: 0cap;
    font-size: 2.5vh;
    width: 12vw;
    height: 4.5vh;
    color: aliceblue;
    background-image: linear-gradient(to left, #261b7f, #8c3070, #D95F59);
}

.logo{
    margin-left: 10px;
}

#logo-image{
    height: 50px;
    width: 200px;
}

.intro{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 2;
    background-color: transparent;
    flex-wrap: wrap;
}

.title{
    flex-grow:1;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 60px;
    align-content: center;
    z-index: 2;
    background-color: transparent;
    margin: 100px;
}

.para{
    flex-grow:10;
    z-index: 2;
    background-color: transparent;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.title>h2{
    color: black;
    z-index: 2;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
     text-shadow: 0 0 2px #7bedfe, 0 0 5px #5ad8f7, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98;
    }
    to {
      text-shadow: 0 0 5px #5ef2f5, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98, 0 0 20px #ef6ffb98;
    }
  }

.para-back{
    margin: 170px 70px;
    height: 25vw;
    width: 60vw;
    border-radius: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.89);
    padding: 40px 40px;
    font-size: 45px;
    z-index: 2;
}

.para>h3{
    background: linear-gradient(#FF385C,#7C5CFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
    margin-left: 8vw;
    margin-top: 170px;
    z-index: 2;
}

.para-back>h5{
    margin: 40px;
    font-size: 25px;
}

.para-title{
    z-index: 2;
    font-size: 60px;
    margin: 40px;
}

.image{
    margin-top: 60px;
    margin-left:8vw;
    height: 30vw;
    width: 60vw;
    border-radius: 20px 300px 20px 300px;
    z-index: 2; 
}

.faq{
    margin-top: 4vw;
    flex-grow: 10;
    z-index: 2;
    background-color: transparent;
}

.faq-question{
    width: 50vw;
    margin-left: 10vw;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: 5px;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
    border: 3px solid transparent;
    border-image: linear-gradient(#FF385C, #7C5CFF);
    border-image-slice: 1;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.faq-link{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 0.5rem;
}

.faq-link ion-icon{
    color: white;
    padding: .5rem;

}

.faq-link .up{
    display: none;
}


.faq-answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: rgb(15, 15, 15);
    transition: max-height 650ms;
}

.faq-answer::before{
    content:" ";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: white;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


.faq-answer>p{
    background-color:  rgb(15, 15, 15);
    font-size: 1.4rem;
    padding: 2rem;
}

.faq-question:target .faq-answer{
    max-height: 20rem;
}

.faq-question:target .faq-link .down{
    display:none;
}

.faq-question:target .faq-link .up{
    display:block; 
}


.imgContainer{
    width: calc(500px * 5);
    height: 300px;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    margin-bottom: 100px;
    background-color: transparent;
}

.imgContainer .slide_div{
    animation: sidescroll var(--t) linear infinite;
}

@keyframes sidescroll {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
    padding: 15px;
    perspective: 100px;
}

.slide_div>img{
    position: relative;
    height: 370px;
    width: 500px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0,0,0,0.4);  
    border-radius: 20px;
    transition: transform 1s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;

}

@keyframes scrollimg {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-500px * 2.5));
    }
    
}


.slide_div>img:hover{
    filter: saturate(100%);
    /* width: 600px;
    height: 450px; */
    transform: translateZ(20px);
}



@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(252, 12, 12),rgb(245, 11, 147),rgb(181, 24, 243), rgb(116, 17, 247));
    animation: rotate 15s infinite;
    opacity: 0.8;
    z-index: 0;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    backdrop-filter: blur(10vmax);
  }

  .image-container{
    margin: 10px;
    display: flex;
    height: 90vh;
    z-index: 2;
    justify-content: space-between;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}
    /* blob */
    .image-blob-1{
        background-image: url(https://ecotracker-ec.vercel.app/assets/Deep-5YNGnL59.svg);
        width: 380px;
        height: 380px;
        background-size: cover;
        -webkit-background-position: center;
        background-position: center center;
        margin: 20px;
        margin-right: 60px;
        box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
        z-index: 2;
        
    }

    .image-blob-2{
        background-image: url(https://ecotracker-ec.vercel.app/assets/Khoshang-DBM48fQK.jpg);
        width: 380px;
        height: 380px;
        background-size: cover;
        -webkit-background-position: center;
        background-position: center center;
        margin: 20px;
        box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
        z-index: 2;
    }

    .image-blob-3{
        background-image: url(https://ecotracker-ec.vercel.app/assets/Kunal-RkoSfJ-K.svg);
        width: 380px;
        height: 380px;
        background-size: cover;
        -webkit-background-position: center;
        background-position: center center;
        margin: 20px;
        margin-left: 60px;
        box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
        z-index: 2;
    }

    .image-blob-1:hover{
        height: 300px;
        backdrop-filter: blur(3px);
    }

    .image-blob-2:hover{
        height: 300px;
    }

    .image-blob-3:hover{
        height: 300px;
    }

    @keyframes animate {
        0%, 100%{
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50%{
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    }

    @keyframes animate1 {
        0%, 100%{
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50%{
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    }

    .title-member{
        display: flex;
        z-index: 4;
        color: black;
        font-size: 100px;
        margin:100px;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }

    .about-us{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        z-index: 2;
        margin:50px;
        padding: 30px;
    }

    .details>h3{
        display: none;
        height: 100%;
        width: 100%;
        font-size: 40px;
        top: 0;
        right: -100%;
        padding: 400px 110px;
        color: rgba(244, 244, 242, 0.677);
    }

    @keyframes textact {
        100%{
            translate: 0 -10%;
        }

        
    }

    @keyframes textact2 {
        100%{
            translate: -10% -10%;
        }
        0%{
            translate: -10% 0%;
        }
        
    }

    @keyframes textact3 {
        100%{
            translate: -5% -10%;
        }
        0%{
            translate: -5% 0%;
        }
    }

    .image-blob-1:hover .details>h3{
        display: block;
        animation: textact 1.5s ease-out forwards;
    }

    .image-blob-2:hover .details>h3{
        display: block;
        animation: textact2 1.5s ease-out forwards;
    }

    .image-blob-3:hover .details>h3{
        display: block;
        animation: textact3 1.5s ease-out forwards;
    }

    @keyframes appear {
        from {
            opacity: 0;
            scale: 0.5;
        }
        to {
            opacity: 1;
            scale: 1;
        }
        
    }

    


    @media(max-width:500px)
    {   
        .container{
            color: white;
            height: 1300vw;
            background-color: black;
            margin: 0 auto;
            width: auto;
            overflow-x: hidden;
        }

        body{
            width: auto;
            overflow-x: hidden;
        }

        .intro{
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .title{
            font-size: 40px;
            margin-left: 30vw;
            margin-bottom: 50px;
            writing-mode: horizontal-tb;
        }

        .para{
            margin-bottom: 10px;
        }

        .para-title{
            font-size: 35px;
            margin-left: 10px;
        }

        .para-back{
            height: fit-content;
            width: 60vw;
            padding: 40px 40px;
            font-size: 45px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .para-back>h5{
            font-size: 15px;
            text-align: justify;
            margin: 0px;
        }

        .para>h3{
            font-size: 30px;
        }

        .imgContainer{
            width: calc(500px * 5);
            height: 600px;
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .slide{
            max-width: 80vw;
        }

        .slide_div>img{
            position: relative;
            height: 250px;
            width: 350px;
        }

        .slide_div{
            margin: 0 20px 0 30px;
            padding: 15px;
            perspective: 100px;
        }

        .image{
            height: 60vw;
            width: 85vw;
            border-radius: 10px 100px 10px 100px;
        }
        .faq{
            margin-left: 2vw;
        }

        .faq-question{
            width: 70vw;
            margin-left: 10vw;
            margin-bottom: 1rem;
            padding: 5px;
        }

        .title-member{
            font-size: 50px;
        }

        .about-us{
            margin:30px;
            padding: 10px;
        }

        .image-container{
            flex-direction: column;
            margin: 0px;
            height: 330vw;
        }

        .image-blob-1{
            height: 80vw;
            width: 80vw;
            margin-left: 5px;
        }

        .image-blob-2{
            height: 80vw;
            width: 80vw;
            margin-left: 5px;
        }

        .image-blob-3{
            height: 80vw;
            width: 80vw;
            margin-left: 5px;
        }

        .image-blob-1:hover{
            height: 70vw;
            backdrop-filter: blur(3px);
        }
    
        .image-blob-2:hover{
            height: 70vw;
        }
    
        .image-blob-3:hover{
            height: 70vw;
        }

        .details>h3{
            height: 100%;
            width: 100%;
            font-size: 30px;
            padding: 400px 60px;
            color: rgba(244, 244, 242, 0.677);
        }

        .faq{
            margin-top: 4vw;
            flex-grow: 10;
            z-index: 2;
            background-color: transparent;
        }
        
        .faq-question{
            width: 70vw;
            height: fit-content;
            margin-left: 10vw;
            border-radius: 20px;
            margin-bottom: 1rem;
            padding: 0px;
            box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
            border: 3px solid transparent;
            border-image: linear-gradient(#FF385C, #7C5CFF);
            border-image-slice: 1;
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0;
        }
        
        .faq-link{
            font-size: 1.2rem;
            color: white;
            text-decoration: none;
            width: 100%;
            height: 10px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding: 1rem 0;
        }
        
        .faq-link ion-icon{
            color: white;
            padding: .5rem;
        
        }
        
        .faq-link .up{
            display: none;
        }
        
        
        .faq-answer{
            max-height: 0;
            overflow: hidden;
            position: relative;
            background-color: rgb(15, 15, 15);
            transition: max-height 650ms;
        }
        
        .faq-answer::before{
            content:" ";
            position: absolute;
            width: .6rem;
            height: 90%;
            background-color: white;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        
        
        .faq-answer>p{
            background-color:  rgb(15, 15, 15);
            font-size: 1rem;
            padding: 2rem;
        }
        
        .faq-question:target .faq-answer{
            max-height: 20rem;
        }

        #logo-image{
            height: 30px;
            width: 100px;
        }

        .head-but{
            font-size: 1.2vh;
        }

        .login-but{
            font-size: 1vh;
        }

    }

    .footer {
        background-color: black;
        color: #fefefe;
        position: relative;
        margin-top: 20px;
        width: 100%;
        bottom: 0;
        left: 0;
        overflow-x: auto;
      }
      
      .footer .heading {
        color: #fefefe;
        max-width: 1010px;
        width: 90%;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 3rem;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      }
      
      .footer .content {
        display: flex;
        justify-content: space-evenly;
        margin: 1.5rem;
      }
      
      .footer .content p {
        margin-bottom: 1.3rem;
      }
      
      .footer .content a {
        text-decoration: none;
        color: #fefefe;
      }
      
      .footer .content a:hover {
        border-bottom: 1px solid #971717;
      }
      
      .footer .content h4 {
        margin-bottom: 1.3rem;
        font-size: 19px;
      }
      
      footer {
        text-align: center;
        margin-bottom: 2rem;
      }
      
      footer hr {
        margin: 2rem 0;
      }
      
      @media (max-width: 767px) {
        .footer .content {
          display: flex;
          flex-direction: column;
          font-size: 14px;
        }
      
        .footer {
          position: unset;
        }
      }
      
      @media (min-width: 768px) and (max-width: 1024px) {
        .footer .content,
        .footer {
          font-size: 14px;
        }
      }
      
      @media (orientation: landscape) and (max-height: 500px) {
        .footer {
          position: unset;
        }
      }