*{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

body{
    width: auto ;
    overflow-x: hidden;
}

.container{
    color: white;
    height: 235vw;
    background-color: black;
}

.header1 {
  position: fixed;
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    backdrop-filter: blur(20px);
    height: 35px;
    z-index: 10;
}

.login-but {
  border-radius: 1.5vh;
  border-width: 0cap;
  font-size: 2.5vh;
  width: 12vw;
  height: 4.5vh;
  color: aliceblue;
  background-image: linear-gradient(to left, #261b7f, #8c3070, #D95F59);
}

.head-but {
  background: none;
  border: 0cap;
  color: aliceblue;
  font-size: 2.5vh;
}

.logo{
  margin-left: 10px;
}

#logo-image{
  height: 50px;
  width: 200px;
}

.problem{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 2;
    background-color: transparent;
    align-items: center;
}

.title{
  color: rgb(255, 255, 255);
    font-size: 60px;
    align-content: center;
    z-index: 2;
    background-color: transparent;
    margin: 80px;
    -webkit-animation: glowtext 1s ease-in-out infinite alternate;
    -moz-animation: glowtext 1s ease-in-out infinite alternate;
    animation: glowtext 1s ease-in-out infinite alternate;
}
@keyframes glowtext {
  from {
   text-shadow: 0 0 2px #7bedfe, 0 0 5px #5ad8f7, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98;
  }
  to {
    text-shadow: 0 0 5px #5ef2f5, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98, 0 0 20px #ef6ffb98;
  }
}
@-webkit-keyframes glowtext {
  from {
   text-shadow: 0 0 2px #7bedfe, 0 0 5px #5ad8f7, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98;
  }
  to {
    text-shadow: 0 0 5px #5ef2f5, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98, 0 0 20px #ef6ffb98;
  }
}
@keyframes glow {
  from {
   box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
  }
}
  @-webkit-keyframes glow {
    from {
     box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
      box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
  }
  
  .tab-content {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2;
    width: 50vw;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.184);
    backdrop-filter: blur(1vmax);
    padding: 50px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }

  .tab-content>h1{
    font-size: 50px;
    margin-bottom: 20px;
  }

  .tab-content>ul>li{
    font-size: 25px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  
  .bold{
    font-weight: bolder;
  }

  @keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
    
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(252, 12, 12),rgb(245, 11, 147),rgb(181, 24, 243), rgb(116, 17, 247));
    animation: rotate 15s infinite;
    opacity: 0.8;
    z-index: 0;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    backdrop-filter: blur(10vmax);
  }


  @media (max-width:500px){
    .container{
      color: white;
      height: 1400vw;
      background-color: black;
      margin: 0 auto;
    }

    .title{
        font-size: 40px;
        margin: 100px;
        text-align: center;
    }

    .tab-content {
      margin-top: 50px;
      margin-left: 20px;
      margin-right: 20px;
      width: 60vw;
      padding: 50px;
      
    }

    .tab-content>h1{
      font-size: 35px;
      margin-left: 30px;
      margin-bottom: 20px;
    }
  
    .tab-content>ul>li{
      font-size: 20px;
      padding-left: 30px;
      padding-bottom: 10px;
    }

    #logo-image{
      height: 30px;
      width: 100px;
  }

  .head-but{
      font-size: 1.2vh;
  }

  .login-but{
      font-size: 1vh;
  }
    
  }

  .footer {
    background-color: rgba(0, 0, 0, 0.463);
    color: #fefefe;
    position: relative;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow-x: auto;
  }
  
  .footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
  }
  
  .footer .content a {
    text-decoration: none;
    color: #fefefe;
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid #971717;
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }
