*{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
}

.container{
    color: white;
    height: 200vw;
    background-color: black;
    margin: 0 auto;
}

.head-but {
  background: none;
  border: 0cap;
  color: aliceblue;
  font-size: 2.5vh;
}

.login-but {
  border-radius: 1.5vh;
  border-width: 0cap;
  font-size: 2.5vh;
  width: 12vw;
  height: 4.5vh;
  color: aliceblue;
  background-image: linear-gradient(to left, #261b7f, #8c3070, #D95F59);
}

.header1 {
  position: fixed;
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 3vh;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 2fr;
    align-items: center;
    backdrop-filter: blur(20px);
    height: 35px;
    z-index: 10;
}

.logo{
  margin-left: 10px;
}

#logo-image{
  height: 50px;
  width: 200px;
}

.problem{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 2;
    background-color: transparent;
    align-items: center;
}

.title{
  color: black;
    font-size: 60px;
    align-content: center;
    z-index: 2;
    background-color: transparent;
    margin: 80px;
    -webkit-animation: glowtext 1s ease-in-out infinite alternate;
    -moz-animation: glowtext 1s ease-in-out infinite alternate;
    animation: glowtext 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowtext {
  from {
   text-shadow: 0 0 2px #7bedfe, 0 0 5px #5ad8f7, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98;
  }
  to {
    text-shadow: 0 0 5px #5ef2f5, 0 0 7px #ef6ffb98, 0 0 10px #ef6ffb98, 0 0 12px #ef6ffb98, 0 0 15px #ef6ffb98, 0 0 17px #ef6ffb98, 0 0 20px #ef6ffb98;
  }
}

[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    font-size: 35px;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    border: 3px solid white;
  }
  
  .tab.active {
    border: 3px solid transparent;
    border-image: linear-gradient(#FF385C, #7C5CFF);
    border-image-slice: 1;
  }
  
  .tab:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
     box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
    }
    to {
      box-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
    }
  }
  
  .tab-content {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2;
    width: 80vw;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.184);
    backdrop-filter: blur(1vmax);
  }

  .tab-req{
    padding: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }

  .tab-req>ul{
    font-size: 30px;
    padding-left: 40px;
  }

  .display-image{
    height: 25vw;
    width: 25vw;
    padding: 40px;
    margin-top: 20px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
  }

  .display-info{
    font-size: 30px;
    padding: 40px;
  }

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(252, 12, 12),rgb(245, 11, 147),rgb(181, 24, 243), rgb(116, 17, 247));
    animation: rotate 15s infinite;
    opacity: 0.8;
    z-index: 0;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    backdrop-filter: blur(10vmax);
  }

  .timepass1{
    display: flex;
  }

  .timepass2{
    display: flex;
  }

  @keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
  }


  @media (max-width:500px){
    .container{
      color: white;
      height: 950vw;
      background-color: black;
      margin: 0 auto;
  }

  .problem{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

    .title{
      font-size:35px;
      margin-left: 100px;
    }

    .tabs {
      justify-content: center;
      align-items: center;
      font-size: 20px;
      flex-wrap: wrap;
    }
    
    .tab {
      cursor: pointer;
      padding: 10px;
      margin: 10px;
      border: 3px solid white;
    }

    .timepass1{
      flex-direction: column;
    }

    .timepass2{
      flex-direction: column-reverse;
    }

    .display-image{
      height: 60vw;
      width: 70vw;
      padding: 40px;
      padding-bottom: 10px;
      animation: appear linear;
      animation-timeline: view();
      animation-range: entry 0;
    }

    .tab-req>ul{
      margin-top: 10px;
      font-size: 20px;
    }

    .display-info{
      font-size: 20px;
      padding: 5px;
      text-align: justify;
      text-wrap: wrap;
    }

    .tab-content {
      width: 90vw;
    }

    #logo-image{
      height: 30px;
      width: 100px;
  }

  .head-but{
      font-size: 1.2vh;
  }

  .login-but{
      font-size: 1vh;
  }
  }
